<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>MedGuide AI</title>
</head>

<body>

    <h1>MedGuide AI</h1>

    <p>Assistente Inteligente para Clínicas</p>

    <form onsubmit="sendQuestion(); return false;">

        <input
            type="text"
            id="question"
            placeholder="Digite sua pergunta..."
        >

        <br><br>

        <button type="submit">
            Enviar
        </button>

    </form>

    <hr>

    <h2>Resposta</h2>

    <p id="answer"></p>

    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>

</body>

</html>